<!DOCTYPE html>
<html>

<head>
  <title>Radix Sort</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script>
    function addDate() {
        const date = document.getElementById('input').value;
        if (date) {
            form = document.getElementById("dateForm");
            form.submit();
        } else {
            alert('Date not set!');
        }
    }

    function setMax() {
      const now = new Date();
      const nowStr = now.toISOString();
      const maxDate = nowStr.substring(0, 19);
      document.getElementById('input').setAttribute('max', maxDate);
    }
    window.onload = setMax;
  </script>
</head>

<body>
  <div class="main-container">
    <div class="table-container">
      <table id="dates">
        <tr>
          <th id="id">ID</th>
          <th id="header">Dates from database</th>
        </tr>
        {% for date in dates %}
        <tr>
          <td>{{ loop.index0 }}</td>
          <td class="date-container">
            {{ date }}
            <form action="/delete" method="post">
              <input type="hidden" name="id" value="{{ ids[loop.index0] }}">
              <button type="submit" class="x">x</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="table-container">
      <table id="sorted-dates">
        <tr>
          <th id="id">ID</th>
          <th id="header">Sorted dates</th>
        </tr>
        {% for date in sorted_dates %}
        <tr>
          <td>{{ loop.index0 }}</td>
          <td class="date-container">
            {{ date }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="form-container">
      <form id="dateForm" method="POST" action="/add">
        <div class="date-input">
          <label for="datetime-local">Date:</label>
          <input id="input" name="date" type="datetime-local" step="1">
        </div>
        <br><br>
        <div class="button-container">
          <button id="add" type="button" onclick="addDate()">Add to Table</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>