<html>

<head>
  <title>Radix Sort</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
  <div class="main-container">
    <div class="table-container">
      <table id="dates">
        <tr>
          <th id="id">ID</th>
          <th id="header">Dates from database</th>
        </tr>
        {% for date in dates %}
        <tr>
          <td>{{ loop.index0 }}</td>
          <td class="date-container">
            {{ date }}
            <form action="/delete" method="post">
              <input type="hidden" name="id" value="{{ id }}">
              <button type="submit" class="x">x</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="table-container">
      <table id="sorted-dates">
        <tr>
          <th id="id">ID</th>
          <th id="header">Sorted dates</th>
        </tr>
        {% for date in sorted_dates %}
        <tr>
          <td>{{ loop.index0 }}</td>
          <td class="date-container">
            {{ date }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="form-container">
      <form id="dateForm">
        <div class="date-input">
          <label for="datetime-local">Date:</label>
          <input type="datetime-local">
        </div>
        <div class="date-input">
          <label for="dateInput">Date:</label>
          <input type="text" id="dateInput" name="date" placeholder="2025-01-01 12:00:00">
        </div>
        <br><br>
        <div class="button-container">
          <button id="add" type="button" onclick="addDate()">Add to Table</button>
          <button id="add" type="button" onclick="addDate()">Sort dates</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>