:root {
    --background-color: #292929;
    --secondary-color: #3a3a3a;
    --text-color: #ffffff;
    --main-color: #6c0e91; 
}

body {
    background-color: #292929;
    color: var(--text-color);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    flex-direction: row;
    gap: 30px;
    margin: 50px 0;
    background-color: var(--background-color);
}
td, th {
    padding: 10px;
}
th {
    text-align: left;
    background-color: #6c0e91;
}
td {
    border-bottom: #ffffff 1px solid;

}
tr:nth-child(even) {
    background-color: #3a3a3a;
}
#id {
    width: 25px;
    height: 40px;
}
#header { 
    width: 250px;
    height: 40px;
}
p {
    display: inline;
}
.x {
    font-weight: bold;
    margin-left: 50px;
    border: #6c0e91 2px solid;
    border-radius: 10px;
    padding: 0 5px;
}
#add {
    background-color: #6c0e91;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.form-container {
    height: 450px;
}
#dateForm {
    border: #6c0e91 2px solid;
    padding: 25px;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
.date-input input{
    border: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-weight: bold;
}
.date-input {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
}